<div class="row">
    <div class="col-md-4" *ngIf="!showPreviousTable">
        <button class="btn btn-success ms-2" (click)="displayPrevious()">Show Previous</button>
    </div>
    <div class="col-md-4" *ngIf="showPreviousTable">
        <div>
            <li class="mx-2">Visit#: <strong>{{showVisitNo}}</strong></li>
            <li class="mx-2">Visit Date: <strong>{{showVisitDate | date : "dd-MM-yyyy"}}</strong></li>
        </div>
        <ul class="pagination pointer">
            <li class="page-item" [ngClass]="{'disabled': recordIndex === 0 || biometryDetailData.length == 0 }">
                <a class="page-link" (click)="prevItem()">Previous</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled': recordIndex === undefined || recordIndex === getLastRecordIndex() }">
                <a class="page-link" (click)="nextItem()">Next</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8 txt-align">
        <button mat-raised-button color="primary" class="mar-right" (click)="rightToLeft()" [disabled]="showPreviousTable">Right to Left</button>
        <button mat-raised-button color="accent" (click)="leftToRight()" [disabled]="showPreviousTable">Left to Right</button>
    </div>
</div>

<div class="error-container" *ngIf="!visit_no">Please save doctor notes to save Biometry details</div>
<form [formGroup]="biometricForm">
    <div class="row margin-20l">
        <div class="col-md-12">
            <table class="table-bordered border txt-center w-100">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th>OD</th>
                        <th>OS</th>
                    </tr>
                    <tr>
                        <th rowspan="2">KERATOMERY</th>
                        <th>K1</th>
                        <td><input type="text" class="form-control" formControlName="keratometry_k1_re"></td>
                        <td><input type="text" class="form-control" formControlName="keratometry_k1_le"></td>
                    </tr>
                    <tr>
                        <th>K2</th>
                        <td><input type="text" class="form-control" formControlName="keratometry_k2_re"></td>
                        <td><input type="text" class="form-control" formControlName="keratometry_k2_le"></td>
                    </tr>
                    <tr>
                        <th colspan="2">AXIAL LENGTH</th>
                        <td><input type="text" class="form-control" formControlName="axial_length_re"></td>
                        <td><input type="text" class="form-control" formControlName="axial_length_le"></td>
                    </tr>
                    <tr>
                        <th colspan="2"> IOL POWER </th>
                        <td>
                            <table class="w-100">
                                <thead>
                                    <tr>
                                        <td><input type="text" class="form-control" formControlName="iolpower1_re"></td>
                                        <td><input type="text" class="form-control" formControlName="iolpower1_re_rem"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" formControlName="iolpower2_re"></td>
                                        <td><input type="text" class="form-control" formControlName="iolpower2_re_rem"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" formControlName="iolpower3_re"></td>
                                        <td><input type="text" class="form-control" formControlName="iolpower3_re_rem"></td>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                        <td>
                            <table class="w-100">
                                <thead>
                                    <tr>
                                        <td><input type="text" class="form-control" formControlName="iolpower1_le"></td>
                                        <td><input type="text" class="form-control" formControlName="iolpower1_le_rem"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" formControlName="iolpower2_le"></td>
                                        <td><input type="text" class="form-control" formControlName="iolpower2_le_rem"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" formControlName="iolpower3_le"></td>
                                        <td><input type="text" class="form-control" formControlName="iolpower3_le_rem"></td>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>
<br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 pointer txt-center">
        <button type="button" class="btn btn-success margin-10t" (click)="saveBiomtery()" *ngIf="!showPreviousTable" [disabled]="!visit_no">
            Save
        </button>
        <button type="button" class="btn btn-success margin-20t" (click)="back()" *ngIf="showPreviousTable">
            Back
        </button>
    </div>
    <div class="col-md-4"></div>
</div>